/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#content {
    margin-left: 80px;
    margin-bottom: 120px;
}

table {
    margin-top: 1em;
}
thead, th {
    padding: 8px;   
    border: #ccc solid 1px;
    color: #333;
}

td {
    padding: 8px;
    border: #ccc solid 1px;  
    color: #333;
}

td.action, td.category {
    text-align: center;
}

.search-select {
    margin-top: 10px;
}
input[type="checkbox"] {
    margin: 0px;
}
label.checkbox {
    display: inline;
    padding-left: 8px;
}


.column-faq-answer{
    width: 40%;
} 
.column-faq-question{
    width: 30%;
} 
.column-faq-category{
    width: 100px;
}
.column-action {
    width: 20px;
}

.ui-reset {
    width: 14px;
    height: 14px;
    margin: 8px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/app/lib/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: -48px -96px;
}

.hero-unit, .topbar {
    color: #555;
    background-color: rgba(217, 252, 217, 0.63);
}

.hero-unit h1 {
    margin: 10px 0;
    line-height: 0;
    color: rgb(119, 119, 119);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.topbar {
    margin: 0px;
}

.navbar-inverse .navbar-inner {
    background-image: none;
    background-color: rgb(217, 252, 217);
}

footer {
    background-color:rgb(217, 252, 217);
    padding: 2em;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

h1 {
    color: rgb(0, 0, 0);
    display: block;
    font-family: Arial, Sans, sans-serif;
    font-size: 20px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10.173429489135742px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20.346858978271484px;
}

h1, h2, th, thead {
    color: rgb(119, 119, 119);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input, textarea, .uneditable-input {
    width: 150px;
}
