<h1>ADNAT Return for Eric Link</h1>
{{updated}}

<br/>
<br/>
<br/>
<div class='row'>
    <div class='span2'>
        <img src='{{generalImage}}'>
        <br>
        General Score: {{assessment.score.general}}
    </div>
    <div class='span2'>
        <img src='{{psychImage}}'>
        <br>
        Self Perception Score: {{assessment.score.psych}}
    </div>
</div>

<br/>
<br/>
<div>
    <span>Category</span>
    <select 
        name="cat"
        ng-model="cat" 
        ng-options="i as i for i in categoryOptions"
        class="search-select"
        >
        <option></option>
    </select>

    <input type="text" 
           ng-model="search" 
           autofocus
           class="search-query"
           placeholder="Search"
           ui-reset>
</div>

<table>
    <col class="column-assessment-category">
    <col class="column-assessment-question">
    <col class="column-assessment-answer">
    <thead>
        <tr>
            <th>Category</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="response in assessment.responses | filter:search | filter:categoryFilter | orderBy:'ordinal'"
            ng-class-even="'even'" ng-class-odd="'odd'"
            >
            <td>{{response.category}}</td>
            <td>{{response.text}}</td>
            <td><span ng-repeat="opt in response.optionsText">{{opt}}<br></span>{{response.other}}</td>
        </tr>
    </tbody>
</table>
