<span class="pull-right"><a target="_blank" href="/pdf/ADNAT.SOP.Research.Nurse.pdf"><i class="icon-question-sign"> SOP for Research Nurses</i></a></span>
<div ng-show="hasRole('Admin')">
	<h1>Admin Dashboard</h1>
	<div>
		<h2>Admin Tasks</h2>
		<div>
			<a href="#/group">Manage Sites</a>
		</div>
		<div>
			<a href="#/faq">Manage FAQs</a>
		</div>
		<div>
			<a href="#/page-list">Manage Web Site Pages</a>
		</div>
	</div>
</div>
<div ng-show="hasRole('Practitioner')">
	<h1>Practitioner Dashboard</h1>
</div>
<div ng-show="hasRole('Practitioner')">
	<h2>Patients</h2>
	<div>
		<input type="text" 
			   ng-model="search" 
			   autofocus
			   class="search-query"
			   placeholder="Search"
			   ui-reset>
		<span><a href="#/person/new/Patient" ><i class="icon-plus-sign"> Add a Patient</i></a></span>
	</div>

	<table class="table-hover">
		<!--<col class="column-name">-->
		<col class="column-email">
		<col class="column-date">
		<col class="column-testpw">
		<thead>
			<tr>
				<!--<th>Name</th>-->
				<th>Email</th>
				<th><a href="" ng-click="predicate = 'activity.lastAssessmentPosted'; reverse=!reverse">Last Assessment Posted</a></th>
				<!--<th><a href="" ng-click="predicate = 'activity.lastAssessmentReviewed'; reverse=!reverse">Last Assessment Reviewed</a></th>-->
				<!--<th><a href="" ng-click="predicate = 'activity.nextAssessmentScheduled'; reverse=!reverse">Next Assessment Scheduled</a></th>-->
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in patients | filter:search | orderBy:predicate:reverse">
				<!--<td><a href="#/person/edit/{{person.uuid}}">{{person.name}}</a></td>-->
				<td><a href="#/person/edit/{{person.uuid}}">{{person.email}}</a></td>
				<td>
					<a href="#/assessment/view/{{person.activity.lastAssessmentUuid}}">{{person.activity.lastAssessmentPosted}}</a>
				</td>
				<!--<td>{{person.activity.lastAssessmentReviewed}}</td>-->
				<!--<td>{{person.activity.nextAssessmentScheduled}}</td>-->
				<td class="action">
					<a href="#/person/testpw/{{person.uuid}}"><i class="icon-lock" title="Test Password"></i></a>
				</td>   
			</tr>
		</tbody>
	</table>
</div>
<h2>Practitioners</h2>
<div>
	<input type="text" 
		   ng-model="searchPractitioner" 
		   autofocus
		   class="search-query"
		   placeholder="Search"
		   ui-reset>
	<span><a href="#/person/new/Practitioner"><i class="icon-plus-sign"> Add a Practitioner</i></a></span>
</div>

<table class="table-hover">
	<col class="column-name">
	<col class="column-email">
	<!--<col class="column-date">-->
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<!--<th><a href="" ng-click="predicate = 'activity.lastAssessmentPosted'; reverse=!reverse">Last Assessment Posted</a></th>-->
			<th ng-show="hasRole('Admin')">Site</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in practitioners | filter:searchPractitioner | orderBy:predicate:reverse">
			<td><a href="#/person/edit/{{person.uuid}}">{{person.name}}</a></td>
			<td><a href="#/person/edit/{{person.uuid}}">{{person.email}}</a></td>
			<td ng-show="hasRole('Admin')">{{person.site.name}}</td>
			<!--				<td>
								<a href="#/assessment/view/{{person.activity.lastAssessmentUuid}}">{{person.activity.lastAssessmentPosted}}</a>
							</td>-->
			<!--            <td class="action">
							<a href="#/person/edit/{{person.uuid}}"><i class="icon-pencil"></i></a>
						</td>   -->
		</tr>
	</tbody>
</table>


<!--<div ng-show="hasRole('Admin')">-->
<!--	<h2>Patients</h2>
	<div>
		<input type="text" 
			   ng-model="search" 
			   autofocus
			   class="search-query"
			   placeholder="Search"
			   ui-reset>
		<span>Role</span>
		<select 
			ui-select2
			name="role"
			ng-model="role" 
			ng-options="i as i for i in roles"
			style="width:250px"
			>
			<option></option>
		</select>
		<span><a href="#/person/new/"><i class="icon-plus-sign"></i></a></span>
	</div>-->

<!--	<table class="table-hover">
		<col class="column-name">
		<col class="column-email">
		<col class="column-role">
		<col class="column-action">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in persons | filter:search | filter:role ">
				<td>{{person.name}}</td>
				<td>{{person.email}}</td>
				<td class="role">
					<span ng-repeat="role in person.roles"><span ng-show="$index &gt; 0">, </span>{{role}}</span>
				</td>
				<td class="action">
					<a href="#/person/edit/{{person.uuid}}"><i class="icon-pencil"></i></a>
				</td>   
			</tr>
		</tbody>
	</table>-->
<!--</div>-->