<h1>Persons</h1>
<div>
    <input type="text" 
           ng-model="search" 
           autofocus
           class="search-query"
           placeholder="Search"
           ui-reset>
    <span><a href="#/person/new/Patient"><i class="icon-plus-sign"></i></a></span>
</div>

<table class="table-hover">
    <col class="column-name">
    <col class="column-action">
    <thead>
        <tr>
            <th>Name</th>
            <th><a href="" ng-click="predicate = 'activity.lastAssessmentPosted'; reverse=!reverse">Last Assessment Posted</a></th>
            <!--<th>Action</th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in persons | filter:search | orderBy:predicate:reverse">
            <td><a href="#/person/edit/{{person.uuid}}">{{person.name}}</a></td>
            <td>
				<a href="#/assessment/view/{{person.activity.lastAssessmentUuid}}">{{person.activity.lastAssessmentPosted}}</a>
				<br>
				<a href="#/assessment/view/5199891f30042f2662b520db">{{person.activity.lastAssessmentPosted}}</a>
            </td>
			<!--            <td class="action">
							<a href="#/person/edit/{{person.uuid}}"><i class="icon-pencil"></i></a>
						</td>   -->
        </tr>
    </tbody>
</table>


<h1>ADMIN Persons</h1>
<div>
    <input type="text" 
           ng-model="search" 
           autofocus
           class="search-query"
           placeholder="Search"
           ui-reset>
    <span>Role</span>
    <select 
		ui-select2
        name="role"
        ng-model="role" 
        ng-options="i as i for i in roles"
		style="width:250px"
        >
        <option></option>
    </select>
    <span><a href="#/person/new/Patient"><i class="icon-plus-sign"></i></a></span>
</div>

<table class="table-hover">
    <col class="column-name">
    <col class="column-role">
    <col class="column-action">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in persons | filter:search | filter:role ">
            <td>{{person.name}}</td>
            <td class="role">
                <span ng-repeat="role in person.roles"><span ng-show="$index &gt; 0">, </span>{{role}}</span>
            </td>
            <td class="action">
                <a href="#/person/edit/{{person.uuid}}"><i class="icon-pencil"></i></a>
            </td>   
        </tr>
    </tbody>
</table>

<div>
	<h1>Admin</h1>
	<div>
		<a href="#/group">Manage Groups</a>
	</div>
</div>