<form name="myForm">
    <input type="hidden" name="id" ng-model="faq.id">
    <div class="control-group" ng-class="{error: myForm.question.$invalid}">
        <label>Question</label>
        <textarea name="question" ng-model="faq.question" required></textarea>
        <span ng-show="myForm.question.$error.required" class="help-inline"> Required</span>
    </div>
    <div class="control-group" ng-class="{error: myForm.answer.$invalid}">
        <label>Answer</label>
        <textarea name="answer" ng-model="faq.answer" required></textarea>
        <span ng-show="myForm.answer.$error.required" class="help-inline">Required</span>
    </div>
    <div class="control-group" ng-class="{error: myForm.category.$invalid}">
        <label>Categories</label>
        <div ng-repeat="cat in categoryOptions">
            <input type="checkbox" ng-model="categoryChoices[$index]"> {{cat}}
        </div>
        Chosen: {{categoryChoices}}
        <!--<span ng-repeat="cat in faq.categories">{{cat}}<br></span>-->
        <span ng-show="myForm.category.$error.required" class="help-inline">Required</span>
        <br>
        <a href="#/faq" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-click="destroy()" ng-show="faq.uuid" class="btn btn-danger">Delete</button>
</form>