<h1>FAQs</h1>

<div>
    <span>Category</span>
    <select 
        name="category"
        ng-model="category" 
        ng-options="i as i for i in categoryOptions"
        class="search-select"
        >
        <option></option>
    </select>
    <input type="text" 
           ng-model="search" 
           autofocus
           class="search-query"
           placeholder="Search"
           ui-reset>

    <span><a href="#/faq/new"><i class="icon-plus-sign"></i></a></span>
</div>

<table class="table-hover">
    <col class="column-faq-question">
    <col class="column-faq-answer">
    <col class="column-faq-category">
    <col class="column-action">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <!--sortable <th><a href="" ng-click="predicate = 'category'; reverse=!reverse">Category</a></th>-->
            <th>Categories</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!--sortable <tr ng-repeat="faq in faqs | filter:search | filter:category |orderBy:predicate:reverse">-->
        <tr ng-repeat="faq in faqs | filter:search | filter:{categories:category} | orderBy:'ordinal' ">
            <td>{{faq.question}}</td>
            <td ng-bind-html-unsafe="faq.answer"></td>
            <td class="category">
                <span ng-repeat="cat in faq.categories">{{cat}}<br></span>
            </td>
            <td class="action">
                <a href="#/faq/edit/{{faq.uuid}}"><i class="icon-pencil"></i></a>
            </td>   
        </tr>
    </tbody>
</table>
