<h1>Groups</h1>

<div>
    <input type="text" 
           ng-model="search" 
           class="search-query"
           placeholder="Search"
           ui-reset
		   autofocus>

    <span><a href="#/group/new"><i class="icon-plus-sign"></i></a></span>
</div>

<table class="table-hover">
    <col class="column-group-name">
	<col class="column-group-action">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="group in groups | filter:search | orderBy:'name' ">
            <td>{{group.name}}</td>
            <td class="action">
                <a href="#/group/edit/{{group.uuid}}"><i class="icon-pencil"></i></a>
            </td>   
        </tr>
    </tbody>
</table>
