<div class="row">
	<div class="hero-unit span7" >
		<h1 ng-bind-html="content[0].title"></h1>
		<p  ng-bind-html-unsafe="content[0].value"></p>
	</div>
</div>

<div class="row">
	<div class="span1"></div>
	<div class="span3">
		<h2 ng-bind-html="content[1].title"></h2>
		<p class="home-item" ng-bind-html-unsafe="content[1].value"></p>
		<a class="btn btn-primary btn-large" href="#/for-patients">Patients &raquo;</a>
	</div>
	<div class="span1"></div>
	<div class="span3">
		<h2 ng-bind-html="content[2].title"></h2>
		<p class="home-item"ng-bind-html-unsafe="content[2].value"></p>
		<a class="btn btn-primary btn-large" href="#/for-practitioners">Practitioners &raquo;</a>
	</div>
	<div class="span1"></div>
</div>