<h1>Page</h1>
<form name="myForm">
    <input type="hidden" name="id" ng-model="content.id">
    <div class="control-group" ng-class="{error: myForm.title.$invalid}">
        <label>Title</label>
        <input name="title" ng-model="content.title" required/>
        <span ng-show="myForm.title.$error.required" class="help-inline"> Required</span>
    </div>
    <div class="control-group" ng-class="{error: myForm.value.$invalid}">
        <label>Content</label>
        <textarea ui-tinymce name="value" ng-model="content.value" required></textarea>
        <span ng-show="myForm.value.$error.required" class="help-inline"> Required</span>
    </div>
    <h2>Preview</h2>
    <div name="preview">
        <div ng-bind-html="content.title"></div>
        <div ng-bind-html="content.value"></div>
    </div>
    <a href="#/page-list" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
    <button ng-click="destroy()" ng-show="content.uuid" class="btn btn-danger">Delete</button>
</form>