<h1>Test Patient Password for {{person.email}}</h1>

<form name="myForm"  novalidate ng-cloak>
    <input type="hidden" name="id" ng-model="person.id">
    <div class="row">
        <div class="span12">
			<div class="control-group" ng-class="{error: passwordInvalid()}">
				<label>Password</label>
				<input type="text" name="password" ng-model="password"  ui-reset required/>
				<span ng-show="myForm.password.$error.required" class="help-inline"> Required</span>
				<div>Passwords must be at least 6 characters and contain letters and a number.</div>
			</div>
			<br>
        </div>
    </div>
	<br/>
	<a href="#/dashboard" class="btn">Cancel</a>
	<button ng-click="save()" ng-disabled="myForm.$invalid || !isValid()" class="btn btn-primary">Test Login</button>
</form>